<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
  <head th:replace="/fragments/head.html :: head">
  </head>
  <body>

    <!-- ======= Top Bar ======= -->
    <section th:replace="/fragments/topbar.html :: topbar">
    </section>
  
    <!-- ======= Header ======= -->
    <header th:replace="/fragments/header.html :: header">
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/assets/img/bg_1.jpg);">
              <div class="carousel-container">
                <div class="carousel-content">
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <h2 class="animate__animated animate__fadeInDown"><span>Class</span> Managment</h2>
                  <h6 class="animate__animated animate__fadeInDown" style="color:white;"><span style="color:orange;">KinderGarten Director:</span> [[${directeur.nom}]]  [[${{directeur.prenom}}]]</h6>
                  <form id="fc" th:action="@{/director/classe/save}" th:object="${classe}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="container" style="width:1000px;">
                            <div th:if="${classe.id == null}">
                                <h3 style="color:white;"><b>Add New Class</b></h3>
                            </div>
                            <div th:unless="${classe.id == null}">
                                <h3 style="color:white;"><b>Edit Class</b></h3>
                            </div> 
                                      
                                <div class="container" style="border: 3px solid white;padding:50px;text-align:left;" >
                                 <div class="row">
                                    <div class="col">
                                              <div class="form-group">
                                                  <label style="color:white;">Class Name</label>
                                                  <input class="form-control" style=" background-color: #EEE6D7; border: 1px solid black;opacity: 0.6;border-radius: 2rem;" th:field="*{nom}" type="text" >
                                              </div>
                                              <div class="form-group">
                                                <label style="color:white;">Class Level</label>
                                                <input class="form-control" style=" background-color: #EEE6D7; border: 1px solid black;opacity: 0.6;border-radius: 2rem;" th:field="*{niveau}" type="text" >
                                            </div>
                                        
                                             
                                            <div class="form-group">
                                                <label style="color:white;">Kindergarten</label>
                                                <select th:field="*{kindergarten}" class="form-select" >
                                                    <th:block th:each ="kg: ${kindergartens}">
                                                      <option th:value="${kg.id}">[[${kg.nom}]]  [[${kg.adresse}]]</option>
                                                    </th:bock>
                                                </select>                    
                                            
                                            </div>
                                        </div>



                                        <div class="col">
                                            <h4 style="color:white"><b>Affect Teachers </b></h4>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="container" style="overflow:auto;max-height:200px;text-align:left;">
                                                        <th:block th:each="teacher : ${teachers}">
                                                            <div class="form-group">
                                                                <input class="form-check-input" th:field="*{teachers}" type="checkbox" th:value="${teacher.id}">    
                                                                <label class="form-check-label">[[${teacher.nom}]] [[${teacher.prenom}]]</label>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <h4 style="color:white"><b>Affect Activities </b></h4>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="container" style="overflow:auto;max-height:200px;text-align:left;">
                                                        <th:block th:each="activity : ${activities}">
                                                            <div class="form-group">
                                                                <input class="form-check-input" th:field="*{activities}" type="checkbox" th:value="${activity.id}">    
                                                                <label class="form-check-label">[[${activity.nom}]]</label>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        
                                          
                                        </div>
                                        <div class="row">
                                        
                                              <div>&nbsp;</div>
                                              <div class="form-group">
                                                <div style="text-align:center;">
                                                    <a href="#" class="btn-menu animate__animated animate__fadeInUp scrollto" onClick="document.getElementById('fc').submit();">Save</a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a th:href="@{/director/class}" class="btn-menu animate__animated animate__fadeInUp scrollto">Cancel</a>

                                                </div>
    
                                              </div>
                                            </div>
                                          
                                      </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
  
   

























   
  
    