<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
  <head th:replace="/fragments/head.html :: head">
  </head>
  <body>

    <!-- ======= Top Bar ======= -->
    <section th:replace="/fragments/topbar.html :: topbar">
    </section>
  
    <!-- ======= Header ======= -->
    <header th:replace="/fragments/header.html :: header">
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/assets/img/bg_1.jpg);">
              <div class="carousel-container">
                <div class="carousel-content">
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <h2 class="animate__animated animate__fadeInDown"><span>Class</span> Managment</h2>
                  <h6 class="animate__animated animate__fadeInDown" style="color:white;"><span style="color:orange;">KinderGarten Director:</span> [[${directeur.nom}]]  [[${{directeur.prenom}}]]</h6>
            <div class="container" style="width:1000px;">
   <!--   <div class="card">
            <div class="card-header"> -->
                <div class="row">

                    <div class="col" style="text-align:right;">
                        <a class="btn btn-success" th:href="@{/director/classe/new}">Add Class</a>
                    </div>
                </div>
     <!--       </div>
            <div class="card-body">
            -->
                <div class="row">
                <div class="container" style="overflow:auto;max-height:400px;">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#E6EEF0">
                        <tr>
                            <th style="text-align:center;color:black;">ID Class</th>
                            <th style="text-align:center;color:black;">Class Name</th>
                            <th style="text-align:center;color:black;">Class level</th>
                            <th style="text-align:center;color:black;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="cl,iterStat : ${classes}">
                            <th:block th:if="${iterStat.first OR cl.kindergarten != classes[iterStat.index-1].kindergarten}" >
                                <tr>
                                    <td colspan=3 style=" background-color: #EEE6D7;opacity:0.6;">
                                        <h4 class="animate__animated animate__fadeInDown" style="color:white;"><span style="color:orange;"><b> [[${cl.kindergarten}]]</b></span></h4>

                                    </td>
                                </tr>
                            </th:block>

                            <tr>
     
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                 <font color=black><b>  [[${cl.id}]] </b> </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${cl.nom}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${cl.niveau}]]</b>  </font>
                                </td>
                               
                                <td style="text-align:center;">
                                    <a class="btn btn-sm btn-warning" th:href="@{'/director/classe/edit/' + ${cl.id}}"><i class="bi bi-pen">Edit</i></a>
                                    &nbsp;
                                    <a class="btn btn-sm btn-danger" th:href="@{'/director/classe/delete/' + ${cl.id}}"><i class="bi bi-trash"></i>Delete</a>
                                </td>
                            </tr>
                            
                        </th:block>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
      <!--      </div>   -->
        </div>

    </div>
</div>
</div>
</section>
</body>
</html>
