<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
  <head th:replace="/fragments/head.html :: head">
  </head>
  <body>

    <!-- ======= Top Bar ======= -->
    <section th:replace="/fragments/topbar.html :: topbar">
    </section>
  
    <!-- ======= Header ======= -->
    <header th:replace="/fragments/header.html :: header">
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/assets/img/bg_1.jpg);">
              <div class="carousel-container">
                <div class="carousel-content">
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <h2 class="animate__animated animate__fadeInDown"><span>Video Calls</span> Managment</h2>
                  <h6 class="animate__animated animate__fadeInDown" style="color:white;"><span style="color:orange;">KinderGarten Director:</span> [[${director.nom}]] [[${director.prenom}]]</h6>
            <div class="container" style="width:1000px;">
   <!--   <div class="card">
            <div class="card-header"> -->
                <div class="row">
                    <div class="col">
                        <h3 style="color:white;"><b>Video Calls</b></h3>
                    </div>
                </div>
     <!--       </div>
            <div class="card-body">
            -->
                <div class="row">
                <div class="container" style="overflow:auto;max-height:400px;">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#E6EEF0">
                        <tr>
                            <th style="text-align:center;color:black;">Parent First Name</th>
                            <th style="text-align:center;color:black;">Parent Last Name</th>
                            <th style="text-align:center;color:black;">Parent Email</th>
                            <th style="text-align:center;color:black;">Child ID</th>
                            <th style="text-align:center;color:black;">Child First Name</th>
                            <th style="text-align:center;color:black;">Child Last Name</th>
                            <th style="text-align:center;color:black;">Parent Streaming Key</th>
                            <th style="text-align:center;color:black;">Child Streaming Key</th>
                            <th style="text-align:center;color:black;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="skinf : ${listSKInfo}">
                            <tr>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                 <font color=black><b>  [[${skinf.prenomparent}]] </b> </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.nomparent}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.emailparent}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.idenfant}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.prenomenfant}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.nomenfant}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.keyparent}]]</b>  </font>
                                </td>
                                <td style=" background-color: #EEE6D7;opacity:0.6;">
                                    <font color=black><b>  [[${skinf.keyenfant}]]</b>  </font>
                                </td>
                                <td style="text-align:center;">
                                    <a class="btn btn-sm btn-warning" th:href="@{'/director/streams/stream/' + ${skinf.emailparent} + '/' + ${skinf.idenfant} + '/' + ${skinf.prenomparent} + '/' + ${skinf.nomparent} + '/' + ${skinf.prenomenfant} + '/' + ${skinf.nomenfant} + '/' + ${skinf.keyparent} + '/' + ${skinf.keyenfant}}"><i class="bi bi-camera">Respond to Call</i></a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
      <!--      </div>   -->
        </div>

    </div>
</div>
</div>
</section>
</body>
</html>
